<h2 class='text-center' style='color: white;'><%= @shop.name %></h2>
<div id="shops" style='color: white; a{color: yellow}'>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h4 class='text-right'>
        <span>
          <%= link_to '导出Excel', admin_shops_path(format: :xls),
            class: 'btn btn-info', id: 'excel'
          %>
        </span>
        <span>总计:<%= @deals_count if @deals_count %></span>
      </h4>
      <br>
      <div class="row">
        <table class='table text-left'>
            <tr>
              <th>店名</th>
              <th>城市</th>
              <th>地址</th>
              <th>洗车次数</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
          <tbody>
             <%= render @shop%>
          </tbody>
        </table>
      </div>
      <div class="row">
        <%= form_with url: admin_shop_deals_path(@shop), class: 'form-inline' do |f| %>
          <%= f.label '车牌号:' %>
          <%= f.text_field :licensed_id, style: "color: black", class: 'form-control' %>
          <%= f.label '备注:' %>
          <%= f.text_field :memo, style: "color: black", class: 'form-control' %>
          <%= f.submit '创建洗车记录', class: 'btn btn-success' %>
        <% end %>
      </div>
      <br><br>
      <div class="row">
        <table id="deals" class='table text-left'>
          <thead>
            <tr>
              <th>手机</th>
              <th>车牌号</th>
              <th>洗车时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @deals.each do |deal| %>
              <%= render partial: 'shop_deal', locals: {deal: deal}%>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/paginate", locals: {collection: @deals}  %>
