<tr>
  <td><%= card.cid %></td>
  <td><%= card.pin if current_user.admin? %></td>
  <td><%= card.is_actived? %></td>
  <td><%= card&.car&.user&.mobile %></td>
  <td><%= card&.car&.licensed_id %></td>
  <td><%= card.actived_at&.strftime('%Y-%m-%d %H:%M') %></td>
</tr>
