<h2 class='text-center' style='color: white;'>会员卡管理</h2>
<div id="cards" style="color: white;">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h4 class='text-right'>总计：<span><%= @cards_count if @cards_count %></span></h4>
    <br>
      <%= search_form_for [:admin, @q], class: 'form-inline' do |f| %>
        <%= f.label "选择初始日期" %>
        <%= f.search_field :actived_at_gteq, class: 'form-control datepicker',
                   'data-provide': 'datepicker', 'data-date-end-date': "0d" %>
        <%= f.label "选择结束日期" %>
        <%= f.search_field :actived_at_lteq, class: 'form-control datepicker',
          'data-provide': 'datepicker', 'data-date-end-date': "0d" %>
        <%= f.search_field :status_eq, class: 'form-control', style: 'display: none;' %>
      <% end %>
      <br>
        <button id="inactived" class="btn btn-warning">
          <span class="badge">
            <%= @inactived_cards_count %>
          </span>
          未激活
        </button>
        <button id="actived" class="btn btn-success">
          <span class="badge">
            <%= @actived_cards_count %>
          </span>
            已激活
        </button>
        <br><br>
      <div class="row" id="table-info">
        <table class='table'>
          <thead>
            <tr class="text-center">
              <th class="text-center">卡号</th>
              <th class="text-center">是否激活</th>
              <th class="text-center">购买用户</th>
              <th class="text-center">绑定车牌</th>
              <th class="text-center">激活日期</th>
            </tr>
          </thead>
          <tbody>
             <%= render @cards if @cards%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/paginate", locals: {collection: @cards}  %>
<script type="text/javascript" charset="utf-8">
$('#actived').click(function(){
  $('input[name="q[status_eq]"]').val(1);
  $('#card_search').submit();
});
$('#inactived').click(function(){
  $('.datepicker').val(null);
  $('input[name="q[status_eq]"]').val(null);
  $('#card_search').submit();
});
$('.datepicker').datepicker({
  format: 'yyyy-mm-dd',
  language: 'zh-CN'
})
</script>
