<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Release Date</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
      </Row>
    <% @deals.each do |deal| %>
      <Row>
        <Cell><Data ss:Type="String"><%= deal&.shop&.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= deal&.car&.user&.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= deal&.car&.user&.mobile %></Data></Cell>
        <Cell><Data ss:Type="String"><%= deal&.car&.licensed_id  %></Data></Cell>
        <Cell><Data ss:Type="Datetime"><%= deal.created_at.strftime('%Y-%m-%d %H:%M') %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
