<tr id='<%= "car-#{car.id}" %>'>
  <td>
    <%= car.car_model ? car.car_model.cn_name : '未知' %>
  </td>
  <td>
    <input
      class='form-control' value='<%= car.licensed_id %>'
      id='<%= "licensed-#{car.id}" %>' />
  </td>
  <td><%= car.created_at.strftime("%Y-%m-%d") %></td>
  <td>
    <input
      class='form-control'
      value='<%= car.valid_at %>'
      id='<%= "valid-#{car.id}" %>'
    />
  </td>
  <td>
    <%= car.deals.count %>
  </td>
  <td>
    <button
      class="car-modify btn btn-sm btn-info"
      style="float: left; margin-right: 10px;"
      data-id='<%= "#{car.id}" %>'
      data-sweet-alert-confirm='确定修改吗？'
    >
      修改
    </button>
    <%= button_to '删除', { action: 'destroy', controller: 'admin/cars', id: car.id },
      class: 'btn btn-sm btn-danger',
      method: :delete, data: { :'sweet-alert-confirm' => "确定删除车牌为#{car.licensed_id}的车辆吗？",
                               :"confirm-button-text" => '我确定',
                               :"cancel-button-text" => '算了',
                               :'sweet-alert-type' => 'null',
                               :'image-url' => image_path("delete.gif")
    }, remote: true
    %>
  </td>
</tr>

