<tr id='<%= "car-#{car.id}" %>'>
  <td>
    <%= car.car_model ? car.car_model.cn_name : '未知' %>
  </td>
  <td>
    <input
      class='form-control' value='<%= car.licensed_id %>'
      id='<%= "licensed-#{car.id}" %>' />
  </td>
  <td><%= car.created_at.strftime("%Y-%m-%d") %></td>
  <td>
    <input
      class='form-control'
      value='<%= car.valid_at %>'
      id='<%= "valid-#{car.id}" %>'
    />
  </td>
  <td>
    <%= car.deals.count %>
  </td>
  <td>
    <button
      class="car-modify btn btn-sm btn-danger"
      data-id='<%= "#{car.id}" %>'
    >
      修改
    </button>
    <%= button_to '删除', { action: 'destroy', controller: 'admin/cars', id: car.id },
      method: :delete, data: { confirm: 'Are you sure?',
                               :"confirm-button-text" => 'Im ready',
                               :"concel-button-text" => 'No way',
                               :"sweet-alert-type" => 'info',
                               text: 'This is a subtitle',
                               :'image-url' => '/pic.png'
    }, remote: true
    %>
    <button
      class="car-delete btn btn-sm btn-info"
      data-id='<%= "#{car.id}" %>'
      data-remote='true'
      data-confirm='确定删除该车辆吗？一旦删除，无法恢复！'
    >
      删除
    </button>
  </td>
</tr>

