<div class='user-form'>
  <%= form_for [:admin, @user], class: 'form-horizontal' do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message if message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-input">
      <%= f.label :姓名, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-input" style="">
      <%= f.label :手机号码, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :mobile, class: 'form-control' %>
      </div>
    </div>
    <div class="form-input">
      <%= f.label :会员类别, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.select(:role,options_for_select([['非会员', 'registed'], ['会员', 'member'],['加入黑名单','block']],@user.roles),{},{ class: 'form-control'} ) %>
      </div>
    </div>

    <%= f.submit "更新用户", class: 'btn btn-warning col-sm-8 col-sm-offset-3' %>
  <% end %>
</div>
