<tr>
  <td><%= link_to user.name, admin_user_path(user) if user.name %></td>
  <td><%= user.mobile %></td>
  <td><%= user.role %></td>
  <td><%= user.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
  <td><%= link_to '编辑', edit_admin_user_path(user) %></td>
</tr>
