<!DOCTYPE html>
<html>
  <head>
    <title>荷式开门法，万人接力。</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'ads', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'ads', 'data-turbolinks-track': 'false' %>
    <%= render  'layouts/favicon' %>
  </head>

  <body class="container">
    <%= yield %>
  </body>
</html>
